<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/logo_silcor.jpg') }}" type="image/x-icon">
    <title>Conversor e Filtro</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Sistema de Conversão e Comparação</h1>
            <p class="subtitle">Faça upload dos arquivos e processe-os conforme necessário.</p>

            <div class="container-adjusts">
                <!-- Upload de arquivos Excel -->
                <div>
                    <!-- Mensagens de alerta -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}

                    <form class="container-forms" id="excelForm" action="/excel" method="post" enctype="multipart/form-data">
                        <h2>FILTRAR EXCEL</h2>
                        <input type="file" id="excelFile" name="file" accept=".xls,.xlsx" required>
                        <div class="warning-excel">
                            O Excel deve sempre respeitar um padrão onde a <strong>COLUNA A</strong> é a quantidade e a <strong>COLUNA D</strong> é a descrição das mercadorias.
                        </div>
                        <div class="container-buttons">
                            <button type="submit">Processar</button>
                            {% if xml_filename %}
                            <a class="download-button" href="{{ url_for('download_file', folder='conv_EXCEL_XML', filename=xml_filename) }}" target="_blank">
                                Baixar
                            </a>
                            {% endif %}
                        </div>
                    </form>
        
                    <!-- Upload de arquivos XML -->
                    <form class="container-forms" id="xmlForm" action="/" method="post" enctype="multipart/form-data">
                        <h2>FILTRAR XML</h2>
                        <input type="file" id="xmlFile" name="file" accept=".xml" required>
                        <div class="container-buttons">
                            <button type="submit">Processar</button>
                            {% if filtered_xml_filename %}
                            <a class="download-button" href="{{ url_for('download_file', folder='conv_XML_XML', filename=filtered_xml_filename) }}" target="_blank">
                                Baixar
                            </a>
                            {% endif %}
                        </div>
                    </form>
                </div>

                <!-- Formulário para Limpar Arquivos Filtrados -->
                <div class="clear-files">
                    <form action="{{ url_for('clear_files') }}" method="post">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" width="35px" height="35px" baseProfile="basic">
                                <rect width="42" height="13" x="39" y="11" fill="#0037ff"/>
                                <polygon points="89.267,111 30.467,111 20.467,27 99.267,27" opacity=".35"/>
                                <polygon fill="#0075ff" points="90,106 30,106 20,22 100,22"/>
                                <rect width="92" height="12" x="14" y="23" opacity=".35"/>
                                <rect width="92" height="12" x="14" y="19" fill="#52afff"/>
                                <rect width="8" height="52" x="73" y="46" opacity=".35"/>
                                <rect width="8" height="52" x="39" y="46" opacity=".35"/>
                                <rect width="8" height="52" x="56" y="46" opacity=".35"/>
                                <rect width="8" height="52" x="73" y="42" fill="#0037ff"/>
                                <rect width="8" height="52" x="39" y="42" fill="#0037ff"/>
                                <rect width="8" height="52" x="56" y="42" fill="#0037ff"/>
                            </svg>
                        </button>
                    </form>
                </div>  
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='script/validation.js') }}"></script>
</body>
</html>
